body{
    font-family: 'Times New Roman', Times, serif;
}

.card{
    background-color: #e7e7e7f5;
    text-align: center;
    width: 50%;
    margin: 10% auto;
    border:1px solid cadetblue;
    border-radius: 5px;
    
}

h1{
    color: cadetblue;
    font-size: 48px;
    padding-top: 25px;
    font-weight: 800;
}

h2{
    color: chocolate;
    font-size: 32px;
    font-weight: 100;
    letter-spacing: 3px;
    
}

.parrafo{
    color: black;
    padding: 30px;
    font-size: 20px;
    text-align: justify;
}

.triste{
    text-align: center;
}

.video_cumpleaño{
    width: 400px;
    height: 400px;
}